/.env
/env
/.vscode

/postgres-latest.tar.gz
/kibana-8.8.2.tar.gz
/elastic-agent-8.8.2.tar.gz
/elasticsearch-8.8.2.tar.gz
/package-registry-8.8.2.tar.gz
/package-registry-8.8.2.tar
/apm-server-8.6.2.tar.gz
/elasticsearch-8.6.2.tar.gz
/kibana-8.6.2.tar.gz

# Angular

/angular-frontend/es-cluster-angular-frontend-latest.tar.gz
/angular-frontend/nginx-latest.tar.gz
/angular-frontend/node-latest.tar.gz
/angular-frontend/node_mosules
/angular-frontend/.vscode

.DS_STORE

/angular-frontend/dist/
/angular-frontend/bazel-out
/angular-frontend/integration/bazel/bazel-*
/angular-frontend/*.log
/angular-frontend/node_modules/

# CircleCI temporary file for cache key computation.
# See `save_month_to_file` in `.circleci/config.yml`.
month.txt

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

# User specific ng-dev settings
.ng-dev.user*

.notes.md
baseline.json

# Ignore .history for the xyz.local-history VSCode extension
.history

# Husky
.husky/_
aio/content/examples/.DS_Store


# Ignore cache created with the Angular CLI.
/angular-frontend/.angular/



#DOTNET
/DotnetBackend/dotnet-sdk-8.0.tar.gz
/DotnetBackend/dotnet-aspnet-8.0.tar.gz
/DotnetBackend/es-cluster-dotnet-backend-latest.tar.gz

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn